@use "../../abstracts" as *;

.hero{
    @include padding(var(--fs-500));
    color: var(--clr-white-500);

    &__header{
        margin-bottom: var(--fs-300);
        max-width: 80rem;

        h2{
            font-size: var(--fs-500);
        }
    }
}