@use "../../abstracts" as *;

.featured{
    @include padding(var(--fs-1000));

    &__header{
        margin-bottom: var(--fs-500);

        h2{
            margin-bottom: var(--fs-100);
            font-size: var(--fs-500);
        }

        hr{
            margin: 0;
            width: var(--fs-1000);
            border: 2px solid var(--clr-green-500);
            background: var(--clr-green-500);
        }
    }

    &__row{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: var(--gap-lg);

        &__card{
            margin: 0;
            transform: scale(1);
            @include transition(transform);

            &:hover{
                transform: scale(1.02);
                @include transition(transform);
            }

            &__image{
                width: 100%;
                height: 25rem;
                z-index: 0;
                box-shadow: 0 0 30px rgba(0,0,0, .1);

                img{
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &__body{
                position: relative;
                margin-top: -3rem;
                padding: var(--gap-lg) var(--gap);
                max-width: 95%;
                z-index: 2;
                box-shadow: 0 0 30px rgba(0,0,0, .1);

                ul{
                    margin-bottom: var(--fs-100);
                    display: flex;
                    flex-wrap: wrap;

                    li{
                        margin-right: var(--gap);
                        display: flex;
                        align-items: center;

                        &:before{
                            content: '#';
                            color: var(--clr-green-500);
                        }

                        a{
                            font-family: 'Poppins SemiBold', sans-serif !important;
                            font-size: 12px;
                            color: inherit;
                            line-height: 1 !important;
                            @include transition(color);

                            &:hover{
                                color: var(--clr-green-500);
                                @include transition(color);
                            }
                        }
                    }
                }

                &__header{
                    margin-bottom: var(--fs-200);

                    h3{
                        margin-bottom: var(--fs-100);
                        font-size: var(--fs-300);
                    }

                    time{
                        font-family: 'Poppins Regular', sans-serif !important;
                        font-size: 12px;
                        line-height: 1 !important;
                    }
                }

                &__content{
                    a{
                        display: flex;
                        align-items: center;
                        font-family: 'Poppins SemiBold', sans-serif !important;
                        font-size: 1.4rem;
                        color: inherit;
                        line-height: 1 !important;
                        @include transition(color);

                        &:hover{
                            color: var(--clr-green-500);
                            @include transition(color);

                            i{
                                margin-left: 1.2rem;
                                @include transition(margin);
                            }
                        }


                        i{
                            margin-left: var(--fs-100);
                            @include transition(margin);
                        }
                    }
                }
            }
        }
    }
}