//Poppins Regular
@font-face {
    font-family: "Poppins Regular";
    src: url("../font/Poppins/Poppins-Regular.ttf");
    font-display: swap;
}

//Poppins SemiBold
@font-face {
    font-family: "Poppins SemiBold";
    src: url("../font/Poppins/Poppins-SemiBold.ttf");
    font-display: swap;
}