@use "../../abstracts" as *;

.hero{
    position: relative;

    &__image{
        position: relative;
        width: 100%;
        height: 45vh;

        img{
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    &__content{
        position: relative;
        margin-top: -12.6rem;
        padding: var(--fs-600) var(--gap-lg);
        color: var(--clr-white-500);

        p{
            display: flex;
            align-items: center;
            font-family: 'Poppins Regular', sans-serif !important;
            font-size: 1.8rem;

            span{
                display: block;
                margin-right: var(--fs-100);
                width: 1rem;
                height: 3px;
                background-color: var(--clr-green-500);
                border-radius: 1.5px;
            }
        }

        &__header{
            margin-top: var(--fs-100);

            h2{
                font-size: var(--fs-700);

                span{
                    color: var(--clr-green-500);
                }
            }
        }
    }

    &__row{
        position: relative;
        padding-top: var(--fs-1000);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: var(--gap-lg);

        &__card{
            margin: 0;
            background-color: var(--clr-white-500);
            box-shadow: 0 0 30px rgba(0,0,0, .1);
            transform: scale(1);
            @include transition(transform);

            &:hover{
                transform: scale(1.02);
                @include transition(transform);
            }

            &__image{
                width: 100%;

                img{
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                }
            }

            &__content{
                padding: var(--gap-lg);

                &__header{
                    margin-bottom: var(--fs-200);

                    h3{
                        font-size: var(--fs-300);

                        a{
                            color: inherit !important;
                            @include transition(color);

                            &:hover{
                                color: var(--clr-green-500) !important;
                                @include transition(color);
                            }
                        }
                    }
                }

                &__body{
                    font-size: 12px;
                    text-align: justify;
                }
            }
        }
    }

    &__pagination{
        padding: var(--fs-600) 0 var(--fs-1000) 0;
        position: relative;
        display: block;
    }

    //breakpoint tablet
    @include mq(md){
        &__image{
            height: 30vh;
        }
    }

    //breakpoint mobile
    @include mq(sm){
        &__content{
            &__header{
                h2{
                    font-size: var(--fs-600);
                }
            }
        }
    }
}