@use "../../abstracts" as *;

.agency{
    @include padding(12rem);

    &__header{
        margin-bottom: var(--fs-1000);
        text-align: right;

        h2{
            margin-bottom: var(--fs-200);
            font-size: var(--fs-500);
        }

        p{
            font-size: var(--fs-300);

            i{
                color: var(--clr-g-yellow-500) !important;
            }
        }
    }

    &__row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 45%;
        gap: var(--gap-lg);

        &__image{
            position: relative;

            p{
                position: absolute;
                top: 0;
                left: 0;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }
        }

        &__content{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &::before{
                position: absolute;
                right: 10rem;
                top: 0;
                content: '';
                display: block;
                width: 120%;
                height: 120%;
                background:{
                    image: url('../images/vetor-agencia.svg');
                    size: contain;
                    position: top left;
                    repeat: no-repeat;
                }
                z-index: -1;
            }

            img{
                margin-left: auto;
                max-width: 44rem;
                width: 100%;
                height: auto;
                margin-top: var(--fs-1000);
            }

            &__text{
                margin-left: auto;
                max-width: 44rem;
                text-align: right;
            }
        }
    }

    //breakpoint md
    @include mq(md){
        padding-top: 0;
        
        &__row{
            grid-template-columns: repeat(2, 1fr);

            &__content{
                &::before{
                    width: 100%;
                    height: 100%;
                }

                img{
                    margin-top: var(--fs-700);
                }

                &__text{
                    font-size: 1.4rem;
                }
            }
        }
    }

    //breakpoint sm
    @include mq(sm){
        &__header{
            p{
                font-size: 1.8rem;

                i{
                    color: var(--clr-g-yellow-500) !important;
                }
            }
        }

        &__row{
            grid-template-columns: 1fr;
            gap: 0;

            &__content{
                //display: block;

                &::before{
                    top: -4rem;
                    left: -1rem;
                    width: 80%;
                    height: 80%;
                }

                img{
                    margin-top: var(--fs-600);
                    margin-bottom: var(--fs-1000);
                }

                &__text{
                    text-align: left;
                    font-size: var(--fs-200);
                }
            }
        }
    }
}