@use "../../abstracts" as *;

.cta{
    @include padding(var(--fs-700));
    background:{
        image: url("../images/background-cta.svg");
        size: cover;
        position: center;
        repeat: no-repeat;
    }

    &__row{
        margin: 0 auto;
        max-width: 80rem;
        width: 100%;
        text-align: center;

        &__header{
            margin-bottom: var(--fs-400);
            font-size: var(--fs-500);
        }
    }

    //breakpoint 1440px
    @include bp(1440px){
        background-size: contain;
    }

    //breakpoint mobile
    @include mq(sm){
        background-size: cover;
        background-position: center right;
    }
}