@use "../../abstracts" as *;

.partners{
    padding-bottom: var(--fs-800);

    &__header{
        margin-bottom: var(--fs-400);
        font-size: var(--fs-500);
    }

    &__row{
      &__card{
        width: 100%;
        min-height: 23rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--fs-500) 0;
        background-color: #f8f8f8;

        img{
          margin: 0 auto;
          padding: 0;
          width: 80%;
        }
      }
    }

  .owl-dots {
    text-align: center;
    margin-top: var(--fs-400);
  }

  .owl-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    outline: none;
    background: var(--clr-neutral-500) !important;
    margin: 0 var(--fs-100);
    @include transition(background);

    &:hover{
      background: var(--clr-green-500) !important;
      @include transition(background);
    }

    &.active {
      width: 3rem;
      background: var(--clr-green-500) !important;
      @include transition(background);
    }
  }
}