@use '../abstracts' as *;

.footer{
    font-size: 1.4rem;

    &__logo{
        @include padding(var(--fs-600));

        .container{
            display: flex;
            justify-content: center;
        }

        img{
            height: var(--fs-1000);
        }
    }

    &__copyright{
        @include padding(var(--fs-100));
        text-align: center;
    }

    &__developer{
        color: var(--clr-white-500);

        &__row{
            @include padding(var(--fs-100));
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            line-height: 1;

            &__goognet{
                a{
                    color: inherit;
                    @include transition(color);

                    &:hover{
                        color: var(--clr-orange-900);
                        @include transition(color);
                    }
                }
            }

            &__validator{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: inherit;
                    @include transition(color);

                    i{
                        margin-right: var(--fs-100);
                        font-size: var(--fs-200) !important;
                    }

                    &:hover{
                        color: var(--clr-orange-900);
                        @include transition(color);
                    }
                }
            }
        }
    }

    //breakpoint 375px
    @include bp(375px){
        &__developer{
            &__row{
                padding: var(--fs-300) 0;
                text-align: center !important;

                &__goognet{
                    flex-basis: 100%;
                    margin-bottom: var(--fs-100);
                }
                &__validator{
                    flex-basis: 100%;
                }
            }
        }
    }
}