@use '../abstracts' as *;

.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 12rem;
    z-index: 200;
    background: transparent;
    @include transition(background);

    &__navbar {
        @include padding(2rem);
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            img{
                height: 100%;
                max-height: var(--fs-700);
            }
        }

        &__section {
            &__container {
                display: flex;
                align-items: center;

                &__nav {
                    display: flex;
                    align-items: center;
                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            display: inline-block;
                            line-height: 1;
                            font-family: 'Kodchasan SemiBold', sans-serif !important;

                            &:not(:last-child) {
                                margin-right: var(--fs-500);
                            }

                            a {
                                position: relative;
                                color: inherit;
                                @include transition(color);

                                &:hover {
                                    color: var(--clr-orange-500);
                                    @include transition(color);
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    &--sticky{
        background: rgba(white, .9);
        box-shadow: 0 0 15px rgba(#000, .15);
        //color: var(--clr-dark-900) !important;
        @include transition(background);

        nav{
            color: inherit;
        }

        .header__navbar__section__toggle__bar{
            background-color: var(--clr-neutral-900) !important;
        }
    }

    &--active {
        .header__navbar {
            &__section {
                &__toggle {
                    position: absolute;
                    top: 3.5rem;
                    right: 3rem;
                    z-index: 300;

                    &__bar {
                        background-color: white !important;

                        &:nth-child(1) {
                            transform: rotate(45deg) translate(0.9rem, 0.9rem);
                            @include transition(transform);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            @include transition(opacity);
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg) translate(0.9rem, -0.9rem);
                            @include transition(transform);
                        }
                    }
                }

                &__container {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: var(--clr-orange-500);
                    z-index: 200;

                    &__nav {
                        padding: 10rem 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        overflow: auto;

                        ul {
                            li {
                                display: block;
                                margin: var(--fs-700) 0;
                                font-size: var(--fs-500);
                                text-align: center !important;
                                color: var(--clr-white-500);
                                @include transition(color);

                                a{
                                    &:hover, &:focus{
                                        color: var(--clr-orange-900);
                                        @include transition(color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //breakpoint tablet
    @include mq(md) {
        &__navbar {
            &__section {
                &__toggle {
                    cursor: pointer;

                    &__bar {
                        width: 4rem;
                        height: 4px;
                        background-color: var(--clr-neutral-900);

                        &:not(:last-child) {
                            margin-bottom: 0.8rem;
                        }

                        &:nth-child(1) {
                            transform-origin: center;
                            transform: rotate(0) translate(0);
                            @include transition(transform);
                        }

                        &:nth-child(2) {
                            opacity: 1;
                            @include transition(opacity);
                        }

                        &:nth-child(3) {
                            transform-origin: center;
                            transform: rotate(0) translate(0);
                            @include transition(transform);
                        }
                    }
                }

                &__container {
                    display: none;
                }
            }
        }
    }
}
