@use '../abstracts' as *;

.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 10rem;
    z-index: 200;
    background: transparent;
    @include transition(background);

    &__navbar {
        @include padding(2rem);
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            img{
                height: 100%;
                max-height: var(--fs-700);
            }
        }

        &__section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &__toggle{
                color: var(--clr-white-500);
                @include transition(color);

                p{
                    display: flex;
                    align-items: center;
                    font-family: 'Poppins SemiBold', sans-serif !important;
                    font-size: 1.5rem;
                    color: inherit;
                    line-height: 1 !important;
                    @include transition(color);

                    img{
                        transform: rotate(0deg);
                        @include transition(transform);
                    }

                    &:hover, &:focus{
                        color: var(--clr-green-500);
                        @include transition(color);

                        img{
                            transform: rotate(360deg);
                            @include transition(transform);
                        }
                    }

                    span{
                        margin-right: -1rem;
                        &::after{
                            content: 'menu';
                        }
                    }
                }
            }

            &__toggle__blog{
                color: var(--clr-neutral-400);
            }

            &__container {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 45vw;
                height: 100vh;
                background-color: var(--clr-neutral-500);
                z-index: 200;
                transform-origin: right;
                transform: scaleX(0);
                @include transition(transform);
            }
        }
    }

    &--sticky{
        background: rgba(#1b1b37, .98);
        box-shadow: 0 0 15px rgba(#000, .15);
        //color: var(--clr-dark-900) !important;
        @include transition(background);
    }

    &__pages--sticky{
        background: rgba(#fff, .95);
        box-shadow: 0 0 15px rgba(#000, .15);
        @include transition(background);

        .header__navbar__section__toggle{
            color: var(--clr-neutral-500) !important;
            @include transition(color);
        }
    }

    &--active {
        .header__navbar {
            &__section {
                &__toggle {
                    position: absolute;
                    top: 3.5rem;
                    right: 9rem;
                    z-index: 300;
                    color: var(--clr-white-500) !important;

                    p{
                        color: inherit !important;

                        span{
                            &::after{
                                content: 'fechar';
                            }
                        }
                    }
                }

                &__container {
                    transform: scaleX(1);
                    @include transition(transform);

                    &__nav {
                        padding: 10rem 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        overflow: auto;

                        ul {
                            li {
                                display: block;
                                margin: var(--fs-200) 0;
                                font-size: var(--fs-400);
                                color: var(--clr-white-500);
                                @include transition(color);

                                a{
                                    &:hover, &:focus{
                                        color: var(--clr-green-500);
                                        @include transition(color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //breakpoint tablet
    @include mq(md){
        &__navbar{
            &__section{
                &__container{
                    width: 70vw;
                }
            }
        }

        &--active {
            .header__navbar {
                &__section {
                    &__toggle {
                        top: 3.5rem;
                        right: 4rem;
                    }
                }
            }
        }
    }

    //breakpoint mobile
    @include mq(sm){
        &__navbar{
            a{
                img{
                    max-height: var(--fs-500);
                }
            }

            &__section{
                &__container{
                    width: 88vw;
                }
            }
        }

        &--active {
            .header__navbar {
                &__section {
                    &__toggle {
                        top: 3rem;
                        right: 3.5rem;
                    }
                }
            }
        }
    }
}
